#contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

#contenedor img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .2s;
}

#contenedor img:hover {
  transform: scale(1.1);
  border: 5px solid #ff9100;
}

#trofeoMensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
}

#trofeoMensaje img {
width: 320px;
}



#trofeoMensaje p {
color: hwb(106 5% 17%);
}


h1 {
  color: #ffffff;
  font-family: Arial, sans-serif;
}
.footer {
  display: flex;
  justify-content: center;
}